.drop-down {
  position: absolute;
  right: 1rem;
}
.drop-down_header {
  padding: 0.4rem 0.3rem 0.4rem 0.8rem;
  background: #ff8000;
  color: #ffffff;
}
.drop-down_header button {
  margin-left: 10px;
  font-size: 1.25rem;
  padding: 6px 23px;
  cursor: pointer;
  background: #ffbf00;
  color: #ffffff;
}
.drop-down_header button:hover {
  background: #ff4000;
}
.drop-down_header button,
.drop-down_header button:hover,
.drop-down_header button:focus {
  border: 0;
  -webkit-border: 0;
}
.drop-down_menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.drop-down_menu > * {
  padding: 1rem 0.5rem;
  background: #ffbf00;
  color: #ffffff;
  border-bottom: 1px solid #ff8000;
}

.drop-down_menu > *:hover {
  background: #ff4000;
}

.hide {
  display: none;
}
