.app-wrapper {
  position: relative;
  margin: 2rem 10%;
  padding: 1rem;
  border: 1px solid #dedede;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.tabs {
  background: #6e6c68;
  text-align: left;
  margin: 0;
  padding: 0;
}
.tab {
  border: 1px solid red;
}
.active-tab {
  background: red;
}
.tabs li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  padding: 1rem;
  margin-right: 1px;
  background: #ffbf00;
  color: #ffffff;
}
.tabs li:hover,
.tabs li.active-tab {
  background: #ff4000;
}
.forecast-panel {
  font-family: "arial narrow";
}
.forecast-panel h2,
h5 {
  background: #ff4000;
  color: white;
  margin: 0;
  padding: 1rem 0;
  font-weight: 100;
}
.forecast-panel h5 {
  padding: 0 0 2rem;
}
.forcast-panel_tile {
  margin: 0;
  padding: 1rem 0;
  border: 1px solid #dfdfdf;
  border-bottom: none;
  background: #f2f2f2;
}
.forcast-panel_tile:first-child {
  background: #6e6c68;
  color: #ffffff;
  padding: 2rem 0;
}
.forcast-panel_tile:first-child > li:first-child {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  text-align: left;
  padding-left: 0.5rem;
}

.forcast-panel_tile:last-child {
  border-bottom: 1px solid #dfdfdf;
}
.forcast-panel_tile li {
  list-style: none;
}
